*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #aeaeae; }

@font-face {
  font-family: 'Lato-Regular';
  src: url("../../fonts/lato/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Chunkfive';
  src: url(../../fonts/ChunkFive/Chunkfive.otf) format("opentype"); }

@font-face {
  font-family: 'MontserratAlternates-Regular';
  src: url(../../fonts/montserrate/MontserratAlternates-Regular.otf) format("opentype"); }

body {
  font-family: "Lato-regular", sans-serif;
  font-size: 1.6rem;
  color: #777;
  text-align: center; }

li {
  list-style: none; }

.icon {
  width: 1.5rem;
  height: 1.5rem; }
  .icon--white {
    fill: #fff; }

.primary-heading {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: "Chunkfive", sans-serif;
  font-weight: 400;
  color: #fff; }

.secondary-heading {
  font-size: 6rem;
  font-family: "Chunkfive", sans-serif;
  font-weight: 400;
  margin-bottom: 2rem; }
  .secondary-heading--left {
    text-align: left; }

.secondary-paragraph {
  font-size: 1.6rem;
  line-height: 3rem;
  color: #777; }
  .secondary-paragraph--left {
    text-align: left; }

.navigation {
  color: #fff; }
  .navigation__title {
    font-size: 2.5rem;
    font-weight: 400;
    font-family: "MontserratAlternates-Regular", sans-serif; }
  .navigation__link {
    padding: .5rem 1rem; }
    .navigation__link:link, .navigation__link:visited {
      color: #fff;
      text-decoration: none;
      font-size: 1.4rem;
      border: .2rem solid transparent; }
    .navigation__link:hover, .navigation__link:active {
      border: 0.2rem solid #fff;
      border-radius: 10rem; }

.header {
  text-align: center;
  color: #fff; }
  .header__title {
    font-size: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "Chunkfive", sans-serif;
    font-weight: 400; }
  .header__text {
    padding-bottom: 2rem; }

.contact__icon {
  width: 1.3rem;
  height: 1.4rem;
  fill: #fff; }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 40rem;
  padding: 2rem;
  font-size: 1.6rem;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.button:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.3); }

.button:active {
  transform: translateY(0);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.6); }

.button::-moz-focus-inner {
  border: none; }

.button--yellow {
  background-color: #ffffa6; }

.button--aqua {
  background-color: #29d9c2; }

.button--lime {
  background-color: #bdf271; }

.button--text-black {
  color: #000; }

.button--text-white {
  color: #fff; }
  .button--text-white > svg {
    fill: currentColor; }

.button__icon {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 1.5rem; }

.button--right {
  grid-column: 4 / 5; }

.regulation {
  display: flex;
  align-items: center;
  padding: 1rem;
  max-width: 20rem;
  position: absolute;
  right: 10%;
  transition: all .3s; }
  .regulation > * {
    display: flex;
    justify-content: center;
    align-items: center; }
  .regulation:link, .regulation:visited {
    text-decoration: none;
    color: #aeaeae;
    font-size: 1.6rem; }
  .regulation:hover {
    color: #777;
    transform: translateY(-0.2rem); }
  .regulation:hover > .regulation__icon {
    fill: #777; }
  .regulation__icon {
    width: 1.2rem;
    height: 1.2rem;
    fill: #aeaeae;
    margin-right: .5rem; }

.breadcrumbs {
  display: flex;
  align-items: center; }
  .breadcrumbs__item:link, .breadcrumbs__item:visited {
    color: #aeaeae;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase; }
  .breadcrumbs__item:not(:last-child)::after {
    content: "/";
    margin: 0 1rem; }
  .breadcrumbs__item--start:link, .breadcrumbs__item--start:visited {
    color: #777;
    font-weight: 900; }

.search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center; }
  .search__input {
    border: 1px solid #e8e8e8;
    border-radius: 80rem;
    background-color: #fff;
    padding: 1.4rem 0 1.4rem 4rem;
    font-size: 1.6rem;
    color: #5d5c5c; }
    .search__input:focus {
      background-color: #e8e8e8; }
  .search__button {
    border: none;
    background-color: transparent;
    margin-right: -3.5rem;
    padding: 1.4rem 0;
    cursor: pointer; }
  .search__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: #5d5c5c; }

.search-secondary {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  flex: 1 1 50%; }
  .search-secondary__input {
    border: .1rem solid transparent;
    padding: .5rem;
    transition: all .3s ease-in;
    flex: 0 0 auto;
    width: 5rem; }
    .search-secondary__input:hover, .search-secondary__input:focus {
      background-color: #d4d4d4;
      width: 90%;
      border-radius: .5rem; }
  .search-secondary__button {
    border: none;
    background-color: transparent;
    margin-left: -2rem;
    z-index: 4;
    flex: 0 0 auto;
    cursor: pointer; }
  .search-secondary__button:hover ~ .search-secondary__input {
    background-color: #d4d4d4;
    border-radius: .5rem;
    width: 90%; }
  .search-secondary__icon {
    height: 1.7rem;
    width: 1.7rem;
    fill: #aeaeae; }

.place {
  display: flex;
  align-items: stretch;
  text-align: left;
  margin: 1rem; }
  .place--big {
    flex: 1 1 100%;
    justify-content: flex-end; }
  .place--medium {
    justify-content: space-between;
    flex-direction: row-reverse;
    flex: 0 1 60%; }
  .place--small {
    justify-content: center;
    align-items: center;
    flex: 1 1 auto; }
  .place__link {
    align-self: flex-end;
    margin: 0 1rem 1rem 0; }
    .place__link:link, .place__link:visited {
      color: #fff;
      text-decoration: none; }
  .place__content {
    flex: 0 1 40%;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.9); }
  .place__icon {
    margin-bottom: 2rem; }
  .place__title {
    margin-bottom: 2rem;
    color: #29d9c2;
    font-weight: 300;
    font-size: 3rem; }
  .place__text {
    color: #777;
    font-weight: 400; }

.place--small {
  position: relative; }
  .place--small .place__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 15rem;
    height: 15rem;
    border-radius: 50%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.9); }
  .place--small .place__icon {
    margin-bottom: 0; }
  .place--small .place__title {
    display: none; }
  .place--small .place__text {
    display: none; }
  .place--small .place__link {
    align-self: none;
    position: absolute;
    bottom: 0;
    right: 0; }

.place--img-1 {
  background-image: url(../../assets/image-2_large.png);
  background-size: cover; }

.place--img-2 {
  background-image: url(../../assets/image-3_large.png);
  background-size: cover; }

.place--img-3 {
  background-image: url(../../assets/image-4_large.png);
  background-size: cover; }

.place--right .place__content {
  position: relative; }
  .place--right .place__content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-right: 1rem solid rgba(255, 255, 255, 0.9);
    border-bottom: 1rem solid transparent; }

.place--left .place__content {
  position: relative; }
  .place--left .place__content::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -1rem;
    width: 0;
    height: 0;
    border-top: 1rem solid transparent;
    border-left: 1rem solid rgba(255, 255, 255, 0.9);
    border-bottom: 1rem solid transparent; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .pagination__number {
    display: flex;
    align-items: center; }
    .pagination__number:link, .pagination__number:visited {
      text-decoration: none;
      color: #acacac; }
    .pagination__number:hover {
      color: #01a2a6; }
    .pagination__number:not(:last-child) {
      margin-right: .5rem; }
  .pagination__number--present:link, .pagination__number--present:visited, .pagination__number--present:hover, .pagination__number--present:active {
    color: #01a2a6;
    font-size: 1.8rem; }
  .pagination__icon {
    height: 2rem;
    width: 2rem;
    fill: #acacac; }
    .pagination__icon:hover {
      fill: #01a2a6; }
  .pagination__begin-list {
    visibility: hidden;
    order: -5; }
  .pagination__prev-page {
    visibility: hidden;
    order: -4; }
  .pagination__number[class$='present']:not(:first-child) ~ .pagination__begin-list {
    visibility: visible; }
  .pagination__number[class$='present']:not(:first-child) ~ .pagination__prev-page {
    visibility: visible; }

.schedule {
  background-color: #ffffa6;
  border-radius: .3rem;
  height: auto; }
  .schedule__header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/form-large.png);
    background-size: cover;
    height: 5.5rem; }
  .schedule__title {
    font-size: 1.8rem;
    font-weight: 900;
    color: #fff; }
  .schedule__day {
    padding: 2rem; }
  .schedule__day-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0; }
  .schedule__day-number {
    color: #29d9c2; }
  .schedule__calendar {
    border: none;
    color: #29d9c2;
    background-color: transparent; }
  .schedule__provider {
    background-color: #fbf6a3;
    padding: 2rem;
    border: 0.2rem dashed #aeaeae; }

.destination-list {
  background-color: transparent;
  padding: 2rem; }
  .destination-list__header {
    margin-bottom: 2rem; }
  .destination-list__title {
    color: #29d9c2;
    font-size: 1.8rem;
    font-weight: 900;
    display: inline-block;
    position: relative; }
    .destination-list__title:after {
      content: "";
      display: inline-block;
      background-color: #29d9c2;
      height: .3rem;
      width: 55%; }
  .destination-list__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; }
  .destination-list__label {
    color: #29d9c2; }
  .destination-list__select {
    color: #aeaeae;
    border: none;
    padding: 1rem 1.2rem 1rem 0;
    margin-right: -.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: inherit;
    position: relative;
    background-image: url(../../assets/select-icon.png);
    background-repeat: no-repeat;
    background-position: right center; }
  .destination-list__option {
    background-color: inherit;
    outline: none; }

.spot {
  display: flex;
  flex-direction: column; }
  .spot:not(:last-child) {
    margin-bottom: 2rem; }
  .spot__cta {
    background-color: #fff;
    display: flex;
    padding: 1rem;
    border: 0.1rem solid rgba(174, 174, 174, 0.4);
    border-radius: .5rem;
    position: relative;
    z-index: 10; }
  .spot__information {
    text-align: left;
    align-self: stretch;
    display: flex; }
  .spot__title {
    font-size: 2.2rem;
    font-weight: 200; }
  .spot__time, .spot__hours {
    font-size: 1.4rem; }
  .spot__icon-box {
    flex: 0 1 15%; }
  .spot__icon {
    width: 100%;
    display: inline-block; }
  .spot__link {
    text-decoration: none;
    font-size: 1.4rem; }
  .spot__notes {
    width: 95%;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    align-self: flex-end; }
  .spot__note {
    padding: .5rem 0 .5rem 1.5rem;
    margin-top: -.4rem;
    background-color: #f5e99e;
    border-radius: .5rem;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .spot__note:first-of-type {
      padding-top: 1rem; }
    .spot__note:last-of-type {
      padding-bottom: 1.2rem; }
    .spot__note:not(:last-of-type)::after {
      content: "";
      display: inline-block;
      width: 90%;
      text-align: center;
      margin-top: 1.5rem;
      border-bottom: 0.1rem solid #fbf6a3; }
  .spot__btn-add:link, .spot__btn-add:visited {
    padding: .5rem 1.5rem;
    margin-top: -.4rem;
    border-radius: .5rem;
    background-color: #f5e99e;
    align-self: flex-end;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(119, 119, 119, 0.4);
    display: flex;
    align-items: center; }
  .spot__btn-add:hover {
    color: rgba(119, 119, 119, 0.8); }
  .spot__btn-add-icon {
    height: 1.4rem;
    width: 1.4rem;
    fill: rgba(119, 119, 119, 0.4);
    margin-left: .5rem; }
  .spot__btn-add:hover .spot__btn-add-icon {
    fill: rgba(119, 119, 119, 0.8); }

.spots .spot:not(:last-child) {
  margin-bottom: 2rem; }

.spots .spot__cta {
  justify-content: space-between;
  align-items: center; }

.spots .spot__information {
  flex-direction: column;
  justify-content: space-around; }

.spots .spot__hours {
  display: none; }

.spots .spot__notes {
  display: none; }

.schedule__day .spot:not(:last-child) {
  margin-bottom: 2rem; }

.schedule__day .spot__cta {
  justify-content: space-between; }

.schedule__day .spot__information {
  flex: 1 0 60%;
  justify-content: space-between;
  align-items: center; }

.schedule__day .spot__time {
  display: none; }

.schedule__day .spot__hours {
  display: inline; }

.schedule__day .spot__icon-box {
  order: -1;
  margin-right: 2rem; }

.schedule__day .spot__caption {
  display: none; }

.form {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(4, auto);
  color: #5d5c5c;
  padding: 2rem; }
  .form__label {
    display: none; }
  .form__input {
    padding: .8rem 2.6rem;
    margin-bottom: 1rem;
    font-size: 1.4rem; }
  .form__input:nth-of-type(1) {
    grid-column: 1 / 5; }
  .form__input:nth-of-type(2) {
    grid-column: 1 / 3;
    grid-row: 2 / 3; }
  .form__input:nth-of-type(3) {
    grid-column: 3 / 5;
    grid-row: 2 / 3; }
  .form__textarea {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    padding: 1.2rem 2.6rem;
    font-size: 1.4rem;
    font-family: "Lato-regular", sans-serif;
    border-radius: .8rem; }

::placeholder {
  color: #5d5c5c; }

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 2rem; }
  .navigation__list {
    display: flex; }
  .navigation__item:not(:last-child) {
    margin-right: 1.5rem; }

.header {
  padding: 25rem 0;
  background-image: url(../../assets/image-1_large.png);
  background-size: cover;
  background-position: center bottom;
  position: relative; }
  .header:before {
    content: "";
    width: 85%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }

.city {
  background-color: #fff;
  padding: 15rem 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .city__image-box {
    flex: 0 0 30%;
    margin-right: 9rem; }
  .city__image {
    max-width: 100%;
    height: auto; }
  .city__information {
    flex: 0 0 30%;
    padding: 2rem 0; }

.destination {
  background-color: #f2fefe;
  padding: 8rem 10rem; }
  .destination__header {
    display: flex;
    flex-flow: column wrap;
    padding-left: 10rem; }
  .destination__heading {
    width: 40%; }
  .destination__paragraph {
    width: 40%; }
  .destination__navigation {
    margin-top: 3rem;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .destination__places-box {
    padding: 1rem 5rem;
    display: flex;
    flex-wrap: wrap; }

.itinerary {
  background-color: #fff;
  padding: 7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  .itinerary__title {
    flex: 1 1 100%; }
  .itinerary__text {
    flex: 1 1 100%; }
  .itinerary__box {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 5rem; }
  .itinerary__schedule {
    flex: 0 0 70%;
    margin-right: 2rem; }
  .itinerary__destinations {
    flex: 0 0 70%; }
  .itinerary__printable {
    background-color: #fff;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end; }

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15rem 5rem;
  background-image: url(../../assets/map-large.png);
  background-size: cover;
  box-shadow: inset 100rem 100rem rgba(1, 162, 166, 0.6); }
  .contact__title {
    flex: 1 0 100%; }
  .contact__form {
    flex: 0 0 45%; }
  .contact__description {
    flex: 0 0 45%; }

/*
Choosen breakpoints:
0 - 600px     37,5em  Phone 
600 - 900     56,25em  Tablets portrait
900 - 1200    75em  Tablets landscape
1200 - 1800     Normal styling
1800 - +      112,5  Big desktop
*/
/*
@breakpoint argument:
-phone
-tab-port
-tab-land
-big-desktop

1em === 16px
*/
.u-text-bold-medium {
  font-weight: 700 !important; }

.u-text-bold-small {
  font-weight: 400 !important; }

.u-text-center {
  text-align: center !important; }

.u-text-color-primary-dark {
  color: #01a2a6 !important; }

.u-text-color-primary-light {
  color: #29d9c2 !important; }

.u-text-color-white {
  color: #fff !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-right-small {
  margin-right: 1.5rem !important; }

.u-margin-left-auto {
  margin-left: auto !important; }
