.schedule {
    background-color: $color-yellow-light;
    border-radius: .3rem;
    height: auto;
    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../../assets/form-large.png);
        background-size: cover;
        height: 5.5rem;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 900;
        color: $color-white;
    }

    &__day {
        padding: 2rem;
    }
    &__day-header {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
    }
    &__day-number {
        color: $color-primary-light;
    }
    &__calendar {
        border: none;
        color: $color-primary-light;
        background-color: transparent;
    }

    &__provider {
        background-color: #fbf6a3;
        padding: 2rem;
        border: .2rem dashed $color-grey-light;
    }
}