.search {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    
    &__input {
        border: 1px solid $color-grey-ultralight;
        border-radius: 80rem;
        background-color: $color-white;
        padding: 1.4rem 0 1.4rem 4rem;
        font-size: 1.6rem;
        color: $color-grey-dark-2;
        &:focus {
            background-color: $color-grey-ultralight; 
        }
    }

    &__button {
        border: none;
        background-color: transparent;
        margin-right: -3.5rem;
        padding: 1.4rem 0;
        cursor: pointer;
    }

    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        fill: $color-grey-dark-2;
    }
}

.search-secondary {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row-reverse;
    flex: 1 1 50%;
    &__input {
        border: .1rem solid transparent;
        padding: .5rem;
        transition: all .3s ease-in;
        flex: 0 0 auto;
        width: 5rem;
        &:hover,
        &:focus {
            background-color: lighten($color-grey-light, 15%);
            width: 90%;
            border-radius: .5rem;
        }
    }

    &__button {
        border: none;
        background-color: transparent;
        margin-left: -2rem;
        z-index: 4;
        flex: 0 0 auto;
        cursor: pointer;

    }

    &__button:hover ~ &__input {
        background-color: lighten($color-grey-light, 15%);
        border-radius: .5rem;
        width: 90%
    }

    &__icon {
        height: 1.7rem;
        width: 1.7rem;
        fill: $color-grey-dark-2;
        
    }
}