// @font-face

@font-face{
    font-family: 'Lato-Regular';
    src: url("../../fonts/lato/Lato-Regular.ttf") format('truetype');
};

@font-face{
    font-family: 'Chunkfive';
    src: url(../../fonts/ChunkFive/Chunkfive.otf) format('opentype');
};

@font-face{
    font-family: 'MontserratAlternates-Regular';
    src: url(../../fonts/montserrate/MontserratAlternates-Regular.otf) format('opentype');
};

body {

    font-family: $primary-font;
    font-size: $default-font-size; 
    color: $color-white;
    text-align: center;
}

li {
    list-style: none;
}

.primary-heading {
    font-size: 8rem;
    text-transform: uppercase;
    font-family: $secondary-font;
    font-weight: 400;
}

.secondary-heading {
    font-size: 6rem;
    font-family: $secondary-font;
    font-weight: 400;
    color: $color-primary-light;
    margin-bottom: 2rem;

    &--left {
        text-align: left;
    }
}



.secondary-paragraph {
    font-size: 1.6rem;
    line-height: 3rem;
    color: $color-grey-dark;
    &--left {
        text-align: left;
    }
    
}

.navigation {
    color: $color-white;
    &__title {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: $tertiary-font;
        
    }
    &__link {
        padding: .5rem 1rem;
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;  
            font-size: 1.4rem;
            border: .2rem solid transparent;
        }
        &:hover, 
        &:active {
            border: .2rem solid $color-white;
            border-radius: 10rem;
        }
    }
}

.header {
    text-align: center;
    &__title {
        font-size: 8rem;
        text-align: center;
        text-transform: uppercase;
        font-family: $secondary-font;
        font-weight: 400;
    }
    &__text {
        padding-bottom: 2rem;
    }
}

