// @font-face

@font-face{
    font-family: 'Lato-Regular';
    src: url("../../fonts/lato/Lato-Regular.ttf") format('truetype');
};

@font-face{
    font-family: 'Chunkfive';
    src: url(../../fonts/ChunkFive/Chunkfive.otf) format('opentype');
};

@font-face{
    font-family: 'MontserratAlternates-Regular';
    src: url(../../fonts/montserrate/MontserratAlternates-Regular.otf) format('opentype');
};

body {

    font-family: $primary-font;
    font-size: $default-font-size; 
    
}

li {
    list-style: none;
}
.navigation {
    color: $color-white;
    &__title {
        font-size: 2.5rem;
        font-weight: 400;
        font-family: $tertiary-font;
        
    }
    &__link {
        padding: .5rem 1rem;
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;  
            font-size: 1.4rem;
            border: .2rem solid transparent;
        }
        &:hover, 
        &:active {
            border: .2rem solid $color-white;
            border-radius: 10rem;
        }
    }
}

