.city {
    background-color: $color-white;
    padding: 15rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image-box {
        
        flex: 0 0 30%;
        margin-right: 9rem;
    }

    &__image {
        max-width: 100%;
        height: auto;
    }

    &__information {
        flex: 0 0 30%;
        padding: 2rem 0;
    }
}

.destination {
    background-color: $color-primary-ultralight;
    padding: 8rem 10rem;
    &__header {
        display: flex;
        flex-flow: column wrap;
        padding-left: 10rem;
    }

    &__heading {
        width: 40%;
    }

    &__paragraph { 
        width: 40%;
    }

    &__navigation {
        margin-top: 3rem;
        padding: 2rem 6rem; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__places-box {
        padding: 1rem 5rem;
        display: flex;
        flex-wrap: wrap;
    }
}   

.itinerary {
    background-color: $color-white;
    padding: 7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    &__title {
        flex: 1 1 100%;
    }
    &__text {
        flex: 1 1 100%;
        
    }
    &__box {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        padding: 5rem;
    }
    &__schedule {
        flex: 0 0 70%;
        margin-right: 2rem;
        
    }
    &__destinations {
        flex: 0 0 70%;
        
    }
    &__printable {
        background-color: $color-white;
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 15rem 5rem;
    background-image: url(../../assets/map-large.png);
    background-size: cover;
    box-shadow: inset 100rem 100rem rgba($color-primary-dark, .6);

    &__title {
        flex: 1 0 100%;
        
    }

    &__form {
        flex: 0 0 35%;
    }

    &__or {

    }

    &__description {flex: 0 0 45%;}
}