.u-text-bold-medium {font-weight: 700 !important;}
.u-font-bold-small {font-weight: 400 !important;}

.u-text-color-primary-dark {color: $color-primary-dark !important;}
.u-text-color-white {color: $color-white !important;}

.u-margin-top-medium { margin-top: 3rem !important;}

