.u-text-bold-medium {font-weight: 700 !important;}
.u-text-bold-small {font-weight: 400 !important;}
.u-text-center {text-align: center !important}
.u-text-left {text-align: left !important}
.u-text-right {text-align: right !important}
.u-text-color-primary-dark {color: $color-primary-dark !important;}
.u-text-color-primary-light {color: $color-primary-light !important;}
.u-text-color-white {color: $color-white !important;}

.u-margin-top-medium { margin-top: 3rem !important;}
.u-margin-bottom-big { margin-bottom: 8rem !important;}
.u-margin-right-small { margin-right: 1.5rem !important;}
.u-margin-left-auto { margin-left: auto !important;}

.u-center-block-verticaly {margin: 0 auto}