// COLORS
$color-primary:#3ddbc7 ;
$color-primary-light: #29d9c2 ;
$color-primary-ultralight: #f2fefe;
$color-primary-dark: #01a2a6;



$color-yellow-dark: #f4e79d;
$color-yellow-light: #ffffa6;


$color-grey-dark: #777;
$color-grey-dark-2: #5d5c5c;
$color-grey-light: #aeaeae;


$color-white: #fff;
$color-black: #000;
$color-lime: #c3f37f;    
$color-lime-ligth: #bdf271;
$color-lime-dark: #b1e568;


// FONT



$default-font-size: 1.6rem;

$primary-font: "Lato-regular", sans-serif;
$secondary-font: "Chunkfive", sans-serif;
$tertiary-font: "MontserratAlternates-Regular", sans-serif;