// COLORS
$color-primary:#3ddbc7 ;
$color-primary-light: #29d9c2 ;
$color-primary-ultralight: #f2fefe;
$color-primary-dark: #01a2a6;

$color-yellow-dark: #f4e79d;
$color-yellow-dark-2: #f5e99e;
$color-yellow-light: #ffffa6;
$color-yellow-light-2: #fbf6a3;


$color-grey-dark: #777;
$color-grey-dark-2: #5d5c5c;
$color-grey-light: #aeaeae;
$color-grey-light-2: #acacac;

$color-grey-ultralight: #e8e8e8;

$color-white: #fff;
$color-black: #000;
$color-blue-dark: #55676e;
$color-lime: #c3f37f;    
$color-lime-ligth: #bdf271;
$color-lime-dark: #b1e568;
$color-purpure-dark: #2f2933;
// FONT
$default-font-size: 1.6rem;
$primary-font: "Lato-regular", sans-serif;
$secondary-font: "Chunkfive", sans-serif;
$tertiary-font: "MontserratAlternates-Regular", sans-serif;